---

---

<div class="Footer">
    <div class="sponsor_info">
        <p></p>
        <!-- <a href="#"><img src={Events.src}></a> -->
    </div>
</div>

<style>
    .Footer {
        background-color: powderblue;
        min-height: 20vh;
    }
</style>